.coverage
.nyc_output
node_modules
/.changelog
yarn-error.log*
yarn-debug.log*
npm-debug.log*
learna-debug.log
dist
dist-server
lib
.cache

# build info
**/tsconfig*.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
