@use 'sass:color';

$text-color: color.adjust(#f00, $lightness: -15%);
$body-color: color.adjust(#fff, $lightness: -5%);

$link-color: color.adjust(#aef, $lightness: -40%);
$link-hover-color: color.adjust($link-color, $lightness: 10%);
