@use './fonts';
@use './type';
@use './nav';
@use './layout';
@import 'antd/dist/reset.css';

body {
  background: $body-color;
  color: $text-color;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
