# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
orbs:
  cypress: cypress-io/cypress@3
jobs:
  build:
    docker: &docker
      # specify the version you desire here
      - image: cimg/node:lts

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v6-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v6-dependencies-

      - run:
          name: yarn install
          command: |
            sudo corepack enable
            yarn install --immutable
            yarn build:pkg

      - save_cache:
          paths:
            - .yarn/cache
            - .yarn/install-state.gz
          key: v6-dependencies-{{ checksum "yarn.lock" }}

      - persist_to_workspace:
          root: ~/
          paths:
            - project

  salus:
    machine: true
    steps:
      - checkout
      - run: docker run -t -v $(pwd):/home/repo coinbase/salus

  test:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn workspaces foreach -v run test:ci --passWithNoTests
      # only run coverage if repo token is available (so third parties don't fail the build)
      - run:
          name: coverage
          command: 'if [ "$COVERALLS_REPO_TOKEN" != "" ]; then yarn run test:coverage --coverageReporters=text-lcov | yarn run coveralls; fi'

  lint:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn run lint

  build_production:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn workspaces foreach -v --include 'example-*' run build

  start_dev:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn devtest:ci

  build_server:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn workspaces foreach -v --include 'example-*' run build:server

  build_storybook:
    docker: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn workspace example-typescript build:storybook


workflows:
  version: 2
  build:
    jobs:
      - build
      - salus
      - lint:
          requires:
            - build
      - test:
          requires:
            - build
      - build_production:
          requires:
            - build
      - start_dev:
          requires:
            - build
      - build_server:
          requires:
            - build
      - build_storybook:
          requires:
            - build
