name: Lighthouse Check
on: [pull_request]

jobs:
  lighthouse-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: mkdir /tmp/artifacts
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: install and build
        run: |
          sudo corepack enable
          yarn install --immutable
          yarn build:pkg
          yarn build:sizecompare
      - name: run Lighthouse CI
        working-directory: ./examples/typescript
        run: |
          npx @lhci/cli@0.7.x autorun
        env:
          LHCI_GITHUB_TOKEN: ${{ secrets.LIGHTHOUSE_CHECK_GITHUB_ACCESS_TOKEN }}
