name: renovate-validate

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Validate
        uses: rinchsan/renovate-config-validator@v0.0.12
        with:
          pattern: 'renovate.json'
